// Place all the styles related to the todolists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.todo{
    border: 1% solid rgb(14, 13, 13);
    outline: 1% solid rgb(10, 10, 10);
    background-color: rgb(216, 216, 230);
    width:50%;
    margin-left:25% ;
    margin-bottom: 50%; 
    text-align: center;
}
.new_todo{
    border: 1% solid rgb(14, 13, 13);
  outline: 1% solid rgb(10, 10, 10);
  background-color: rgb(216, 216, 230);
  width:50%;
  margin-left:25% ;
  margin-bottom: 50%;
  text-align: center;
}
.links{
    width:50%;
    margin-left:25% ;
    margin-bottom: 50%;
    text-align: center; 
}
.edit{
    border: 1% solid rgb(14, 13, 13);
  outline: 1% solid rgb(10, 10, 10);
  background-color: rgb(216, 216, 230);
  width:50%;
  margin-left:25% ;
  margin-bottom: 50%;
  text-align: center;
}
.t{
    border: 1% solid rgb(14, 13, 13);
    outline: 1% solid rgb(10, 10, 10);
    background-color: rgb(216, 216, 230);
    width:50%;
    margin-left:25% ;
    margin-bottom: 50%;
    text-align: center;  
}